/* *{
  box-sizing: border-box;
} */
body {
  font-family: sans-serif;
}

a{
  text-decoration: none;
}

.editorDiv {
  display: flex;
  flex-direction: row;
}

.editorDiv>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.editorDiv>div>div {
  height: 100%;
}

.fourthSliderDiv {
  padding: 0;
}

.thirdSliderDiv {
  padding: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.thirdSliderDiv>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 33%;
  width: 100%;
}

.thirdSliderDiv button {
  display: flex;
  flex-direction: row;
  height: 20%;
}

.textDiv {
  width: 70%;
  height: 100%;
  position: relative;
  top: 0px;
  border-right: 1px solid #444;
  padding: 0.8vw;
  padding-bottom: 1vw;
}

.textInput {
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  font-size: 13.5pt;
  color: white;
}

.textDiv button {
  border: 1px solid white;
  background: black;
  color: white;
  font-size: 8pt;
  width: 100%;
  height: 30px;
  margin-top: 0.8vw;
}

.textDiv button:hover {
  background: white;
  color: black;
}

.firstSliderDiv {
  width: 30%;
  display: flex;
  align-items: center;
  padding: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-right: 1vw;
}

.secondSliderDiv {
  width: 30%;
  display: flex;
  align-items: center;
  border-right: 1px solid #444;
  padding: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 1vw;
}

.firstSliderDiv div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 10%;
  position: relative;
}

.secondSliderDiv div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 10%;
}

.firstSliderDiv input {
  width: 100%;
}

.secondSliderDiv input {
  width: 100%;
}

.colorSelector {
  width: 55%;
  height: 45%;
}

.colorpicker {
  background: black;
}

.sliderText {
  color: #666;
  font-size: 8pt;
  padding: 0;
  margin: 0;
  letter-spacing: 0px;
}

input[type=range] {
  -webkit-appearance: none;
  /* width: 10%; */
  margin: 18px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(0, 0, 0, 0);
  border-radius: 0px;
  border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 14px;
  width: 5px;
  border-radius: 0px;
  /* background: #ffffff; */
  border: 1px solid white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(0, 0, 0, 0);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(0, 0, 0, 0);
  border-radius: 0px;
  border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 38px;
  width: 5px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: rgba(0, 0, 0, 0);
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: rgba(0, 0, 0, 0);
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 38px;
  width: 5px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  height: 2px;
}

input[type=range]:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0);
}

input[type=range]:focus::-ms-fill-upper {
  background: rgba(0, 0, 0, 0);
}

.thirdSliderDiv button {
  background-color: #000;
  display: inline-block;
  cursor: pointer;
  color: #FFF;
  font-family: Arial;
  font-size: 11px;
  border: 1px solid white;
  /* padding: 20px 40px; */
  text-decoration: none;
  height: 25px;
  /* width: 25px; */
  padding: 10px 10px;
  line-height: 0;
}

.thirdSliderDiv button:hover {
  background-color: #FFF;
  color: #000;
}

.thirdSliderDiv button:active {
  position: relative;
  top: 1px;
  background-color: #FFF;
  color: #000;
}


#colorPick input[type=text]{
  border: 1px solid #00000000;
  color: white;
  background-color: #00000000;
  width: 100%;
  padding: 0px;
  font-size: 10px;
}

input[type=text]{
  border: 1px solid #00000000;
  color: white;
  background-color: #00000000;
  width: 100%;
  padding: 5px;
  font-size: 20px;
}

input[type=text]:focus {
  outline: none;
}

textarea {
  font-size: 32px;
  padding: 13px;
  background-color: #000000;
  /* border-width: 2px; */
  /* border-color: #ffffff; */
  /* border-style: none; */
  color: #ffffff;
  box-shadow: inset 0px 0px 5px 0px rgba(42, 42, 42, .0);
  text-shadow: 0px 0px 0px rgba(42, 42, 42, .0);
  resize: none;
}

textarea:focus {
  outline: none;
}

#colorPick {
  position: absolute;
  overflow: hidden;
  width: 0%;
  transition: 0.5s;
  height: 20vh;
  bottom: -2px;
}

#colorPick div {}

.editorContainer {
  position: fixed;
  bottom: 0%;
  left: 0%;
  min-width: 58%;
  height: 30%;
  z-index: 100;
}

#editorTextDiv {
  position: fixed;
    left: 0%;
    bottom: 18vh;
    color: white;
    font-size: 12pt;
    transition: 0.5s;
}

.editorDiv {
  /* // editorDiv.style("position", "fixed");
    // editorDiv.style("bottom", "0");
    // editorDiv.style("left", "0"); */
  /* // editorDiv.style("height", "100%"); */
  height: 80%;
  width: 100%;
  z-index: 100;
  background-color: black;
  border: solid 2px #666;

  transition: 0.5s;

}

.icon {
  width: 25px;
  margin-right: 8px;
  object-fit: contain;

}

#tileCoordinate {
  border: none;
  background: none;
  font-size: 12pt;
  color: white;
  width: 100px;
  height: 45px;
}

#exitDiv {
  position: fixed;
  left: 0%;
  top: 0%;
  color: white;
  font-size: 12pt;
}

#infoDiv {
  position: fixed;
  right: 0%;
  top: 0%;
  color: white;
  font-size: 12pt;
}

#searchDiv {
  position: fixed;
  right: 0%;
  bottom: 0%;
  color: white;
  font-size: 12pt;
  width: 11%;
}

.menuDiv {
  display: flex;
  align-items: center;
  padding: 2%;
  color: white;
  font-size: 12pt;
  z-index: 200;
}

#infoContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  display: none;
}

.infoStyle {
  background-color: #000;
  position: fixed;
  padding: 1vw;
  color:white;
  border: 1px solid white;
}

#infoEditor {
  bottom: 28vh;
  left: 4vh;
}

#infoCentrale {
  top: 30vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

#infoSearch {
  bottom: 10vh;
  right: 5vh;

}
